In [1]:
import pandas as pd
import os

In [2]:
#import ataframe and delete unecessary rows
TY=pd.read_excel("12M_Horizon.xlsx",sheet_name="10-YEAR NOTE (2)",skiprows=9)

In [3]:
#Get a list with all the column names
colnames=list(TY.columns)
#change the names of the first two columns
colnames[0]="EffectiveDate"
colnames[1]="SnapDate"
TY.columns=colnames
#remove the first row as it does not contain any data
TY=TY.iloc[1:,:]
#Only keep consensus data
TWTY=TY[["EffectiveDate","SnapDate","Median","Mean","Mode","Min","Max","Standard Deviation","# Forecasts"]]

In [4]:
#Save file using relative path
relative_path = os.path.join('..', '..', '..', 'Consolidated',"Forecasts", "ExpertForecasts","TWTY.csv")
TWTY.to_csv(relative_path)

In [5]:
#only keep Individual Forecasts
IndividualForecastsTY=TY.drop(columns=["EffectiveDate","Median","Mean","Mode","Min","Max","Standard Deviation","# Forecasts","Actual"])
#Set Date as Index
IndividualForecastsTY.index=IndividualForecastsTY["SnapDate"]
#Drop Date Column
IndividualForecastsTY.drop(columns=["SnapDate"],inplace=True)
IndividualForecastsTY

,ANZ Bank,Action Economics,Amundi AM,BMO,Bank NZ,Barclays,BayernLB,Berenberg,Bkhaus Lampe,BofAML,...,Raiffeisen Intl,Scotiabank,Skand Ensk Bank,Societe Generale,Spartan Cap Sec,Standard Chartered,TD,Uni Credit,Wells Fargo,ZKB
SnapDate,,,,,,,,,,,,,,,,,,,,,
2024-06-30,3.75,4,3.94,3.75,3.58,4.35,3.75,3.67,3.92,4.25,...,3.45,3.75,3.7,4,3,3.97,3.57,4.05,3.57,3.7
2024-03-31,4,4.22,3.8,4.02,3.83,4.5,3.85,4.6,3.92,3.35,...,3.65,4,4.1,3.92,3.25,4.18,4,4.18,3.5,3.8
2023-12-31,3.5,4,3.2,3.53,3.5,3.55,3.4,3.2,3,3.35,...,3.4,3.75,4.1,2.75,4,3.13,3.72,3.2,3.17,3.4
2023-09-30,3.5,3.6,3.4,3.48,3.5,3.4,3.2,3.2,3,3.25,...,3.8,3.75,3.2,2.75,3,3.23,3.3,3.3,3.18,3.4
2023-06-30,4,4.1,3.4,3.59,3.75,3.92,3.5,3.2,3,3.1,...,3.8,3.5,3.5,3.27,3,3.3,3.43,3.4,2.88,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-06-30,NaN,NaN,NaN,5.5,NaN,5.75,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-03-31,NaN,NaN,NaN,5.5,NaN,5.75,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-31,NaN,NaN,NaN,NaN,NaN,5.75,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-09-30,NaN,NaN,NaN,NaN,NaN,5.75,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Save file using relative path
relative_path = os.path.join('..', '..', '..', 'Consolidated',"Forecasts", "IndividualForecasts","TWTYIndividual.csv")
IndividualForecastsTY.to_csv(relative_path)

In [7]:
#import ataframe and delete unecessary rows
TU=pd.read_excel("12M_Horizon.xlsx",sheet_name="2-YEAR NOTE (2)",skiprows=9)
#TU.drop(TU.tail(4).index,inplace = True)

In [8]:
#Get a list with all the column names
colnames=list(TU.columns)
#change the names of the first two columns
colnames[0]="EffectiveDate"
colnames[1]="SnapDate"
TU.columns=colnames
#remove the first row as it does not contain any data
TU=TU.iloc[1:,:]
#Only keep consensus data
TWTU=TU[["EffectiveDate","SnapDate","Median","Mean","Mode","Min","Max","Standard Deviation","# Forecasts"]]

In [9]:
#Save file using relative path
relative_path = os.path.join('..', '..', '..', 'Consolidated',"Forecasts","ExpertForecasts", "TWTU.csv")
TWTU.to_csv(relative_path)

In [10]:
#only keep Individual Forecasts
IndividualForecastsTU=TU.drop(columns=["EffectiveDate","Median","Mean","Mode","Min","Max","Standard Deviation","# Forecasts","Actual"])
#Set Date as Index
IndividualForecastsTU.index=IndividualForecastsTU["SnapDate"]
#Drop Date Column
IndividualForecastsTU.drop(columns=["SnapDate"],inplace=True)
IndividualForecastsTU

,ANZ Bank,Action Economics,Amundi AM,BMO,Barclays,BayernLB,Bkhaus Lampe,BofAML,CIBC,Capital Econ,...,Raiffeisen Intl,Scotiabank,Skand Ensk Bank,Societe Generale,Spartan Cap Sec,Standard Chartered,TD,Uni Credit,Wells Fargo,ZKB
SnapDate,,,,,,,,,,,,,,,,,,,,,
2024-06-30,4.25,4.05,3.66,3.8,3.8,3.5,3.8,4,3.35,3,...,3.7,3.2,3.4,3.5,2.9,3.53,3.7,3.9,3.43,3.5
2024-03-31,4.25,4.32,3.73,3.8,4.2,3.8,3.8,3.5,4.2,3,...,3.9,3.65,3.6,3.5,3.9,3.98,4.1,4.1,3.33,3.5
2023-12-31,3.67,4.1,3.5,0.2,3.9,3.7,3.75,3.5,3,3,...,3.9,3.75,4.15,2.6,5.11,3.17,4.37,3.1,3.1,3.5
2023-09-30,3.25,4.05,3.2,0.2,4.2,3.3,3.5,3.25,3.13,3,...,4,3.75,3.15,3,3.7,3.17,3.7,3.4,3.35,3.5
2023-06-30,4.75,4.3,3.6,0.2,4.2,3.7,NaN,3.65,3.93,3,...,4,3.3,3.85,0.5,4,3.43,3.5,3.95,2.82,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003-06-30,NaN,NaN,NaN,4.3,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-03-31,NaN,NaN,NaN,4.3,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-31,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-09-30,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Save file using relative path
relative_path = os.path.join('..', '..', '..', 'Consolidated',"Forecasts", "IndividualForecasts","TWTUIndividual.csv")
IndividualForecastsTU.to_csv(relative_path)